*{
  font-family: "Nunito", sans-serif;
  padding: 0.3;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
button{
  border-radius: 10%;
  padding:1rem;
  background-color:rgb(248, 247, 252)
}
input{
  padding:1rem;
  background-color:rgb(243, 248, 243)
}
.example{
  float:right;
}


html {
  font-size: 20px;
  overflow-x: hidden;
  padding: 1rem;
}


body {
  background: rgb(161, 227, 231);
  overflow-x: hidden;
  padding: 1rem;
  padding-top: 1rem;
}

#home{
  text-align: center;
}

div span{
  color:rgb(0, 21, 209)
  
}
div p{
  text-align: center;
  padding-bottom: 4rem;
}

img{
  width: 170px;
  float:left;

}
.section{
  display: inline-block;
  padding-left: 2rem;
  margin-left: 5rem;

}


a  .s1, .s1, .s2, .s3, .s4, .s5{
 color:rgb(32, 194, 243);
 font-size: 1rem;
 color:rgb(53, 19, 175);
 background-color: aqua;
 border-radius: 10%;

}
a{
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: .1rem;
  margin-left: 5rem;
}

.blog-container{
  padding:1rem ;
  
}

 h2{
  margin: 1rem;
  color:blue
}



input {
  font-size: .5rem;
  color: rgb(73, 179, 206);
  padding: 1rem;
  width: fit-content;
  margin: auto;
  border-radius: 1rem;
  text-align: center;
}

textarea{
font-size: 1.5rem;
  color: rgb(73, 179, 206);
  padding: 1rem;
  width: fit-content;
  margin: auto;
  border-radius: 1rem;
  text-align: center;}

.t{
  
  border-radius: 1rem;
  text-align: center;
  float:right;

}
span{
  font-size: 2rem;
}
.t{
  font-size: 1.5rem;
}
#comment-form{
  background-color: #7ea2c7;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  gap: 2rem;
  border-radius: 1rem;
  text-align: center;
  float:right;
  display: flex;
}

.like{
  padding: 2rem;
  display: flex;
  align-items: center;
  

}
button{
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: bold;
}
button:hover{
 color:aquamarine;
}

#like-section {
  text-align: center;
}

#like-section button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

#like-section #like-count {
  font-size: 18px;
  margin: 10px;
}

label{
  color:white;
  
}
iconify-icon{
  color: blue;
}


