*{
  margin:0;
  padding: 0;
  border:border-box;
  font-family:sans-serif
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.dash{
  color:rgb(252, 252, 252);
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(21, 31, 32);
  color: white;
  text-align: center;
 padding: .1rem;
 margin: 1rem;
}



.icon{
  padding: .1rem;
  font-size: 3rem;
  margin: 3rem;
  display: block;
}
.menu p{
  margin-left: 3rem; 
}
img{
  width: 40px;
  padding-top:2rem;
  margin-left: 3rem;

}

li{
  font-size: 2rem;
  padding: 1.2rem;
  display: inline block;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.nwe-post{
margin-left: 50rem;

}