* {
  margin: 0;
  padding: 0;
  font-family: "poppin", sans-serif;
  box-sizing: border-box;
}

.blogg{
  background-image: url(./Images/sky.jpg);
  padding: 14rem;
  background-size: cover;
}

#blog-form{

  padding: 1rem;
  border: solid white;
  border-radius: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 4rem;
  margin-top: 1rem;
}

input[type="text"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  
}
#submit-blog{
  width:100%;
  border-radius: 2rem;
  padding:.5rem;
  background-color:blue;
}

@media (max-width: 600px) {
  .blogg {
    padding: 0px;
    padding-right: 20rem;
  }
  input[type="submit"] {
   margin-left: 1rem;
    
  }
  input[type="text"], textarea {
    margin-left: 1.2rem;
  }
  #submit-blog{
    width:90%;
    border-radius: 2rem;
   margin-left:1rem;
    
  }

  #blog-form{
width:80%

  }
  #blog-form{

    padding: 0.2rem;
    border: solid white;
    border-radius: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 380%;
  }

  
}
